#detail { display: flex; flex-wrap: wrap; margin: 0; padding: 0; }
#detail li { list-style: inside none; width: 25%; }
#detail h1 { font-size: 100%; overflow: hidden; text-overflow: ellipsis; width: 100%; }
#detail img { width: 100%; }
