*.a
*.bin
*.o
*.obj
*__pycache__
*debug_enironment.sh
*log.txt
*requirements/
implementations/*/bin/
implementations/metalibm/.mltmp/
implementations/metalibm/src/ml_gen_done
implementations/timing/json/
implementations/timing/kern/
implementations/timing/kern_main/